* {
  padding: 0px;
  margin: 0px;
}
img.ui.image.medium {
  margin-left: 30px;
  margin-bottom: 15px;
}
div > .ui > header {
  margin-top: 20px;
  color: red;
  padding: ;
}
h1.ui.header.logoMargin {
  margin-left: 20px;
  margin-bottom: 15px;
}
.ui.four.column.centered.grid.column {
  margin-top: 30px;
}
figure {
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0em;
  padding: 0.1em;
}
.ui.image {
  margin: auto;
}
.winningsimg {
  width: 100%;
}
.winnings {
  margin-bottom: 2.5rem;
}
/* WHO WE ARE IN HOME SECTION */
.ui.four.column.centered.grid.who > .column {
  background-color: brown;
}
.ui.link.cards {
  background-color: darkslategrey;
  justify-content: center;
  margin-top: 0.2rem;
}

.ui.dividing.header {
  background-color: aliceblue;
  padding: 15px;
}

iframe#embed {
  height: 490px;
  border: 0px none;
  width: 619px;
  margin-top: 0px;
  margin-left: 240px;
}
.betTips {
  height: 490px;
  border: 0px none;
  width: 619px;
  margin-top: -0px;
  margin-left: -24px;
}
.betTipsIframe {
  overflow: hidden;
  margin-top: 0px;
  margin-left: -25px;
}
/* ====================
    MEDIA QUERIES
==================== */

@media (max-width: 1507px) {
  .winningsimg {
    width: 100%;
  }

  /* WHO WE ARE IN HOME SECTION */
  .ui.four.column.centered.grid.who > .column {
    flex-grow: 2;
  }
}
@media (max-width: 1296px) {
  .winnings {
    flex-grow: 2;
    flex-basis: auto;
  }
}
